<table>
  <tr>
    <th>Secret Content</th>
    <th>Actions</th>
  </tr>

  <% @secrets.each do |s| %>
    <tr>
      <td><%= s.content %></td>
      <td>
        <% if @user == s.user %>
          <%= button_to 'Delete Secret', secret_path(s), method: :delete %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
